* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

body {
    background-color: #FBE4FF;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    max-height: 65px;
    background: #243B93;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    max-width: 140px;
    max-height: 50px;
    padding: 7px 0 7px 0;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
    padding: 7px 0 7px 0;
    text-align: center;
    vertical-align: middle;
}

.menu_list-item {
    width: 19%;
    list-style: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    justify-content: center;
}

.header_lang {
    padding: 7px 0 7px 0;
    display: flex;
    justify-content: space-between;
}

.header_lang img {
    padding-right: 10px;
}

.header_lang_item {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.page_name {
    height: 85px;
    background: #BFF0FF;
}

.page_name-title {
    padding-top: 15px;
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    color: #202846;
}

.location {

}

.location_choose {
    position: relative;
    vertical-align: middle;
    margin-top: 27px;
    margin-bottom: 30px;
    height: 57px;
    background: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

color: rgba(0, 0, 0, 0.61);
}

.location_choose-triangle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 40px;
}

.location_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    padding: 21px 52px;
    background: linear-gradient(87.05deg, #A9CBD6 0%, #01AFE6 100%);
}

.location_item:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.location_item-image {
    width: 37%;
}

.location_item-image img {
    width: 100%;
    height: 100%;
}

.location_item-descr {
    width: 60%;
}

.location_item-title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    border-bottom: #FFFFFF solid 3px;
    margin-bottom: 10px;
}

.location_item-subtitle {
    background: #EDFBFF;
    padding: 10px 50px 10px 15px;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    height: 65%;
}

.location_item-star{
    position: absolute;
    right: 5px;
    top: -6px;
    color: #FFFFFF;
    font-size: 50px;
}

.location_item-star:hover {
    color: #FFF500;
}

.location_item-button {
    position: absolute;
    display: flex;
    width: 210px;
    height: 46px;
    background: #243B93;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    right: -50px;
    bottom: 10px;
}

.location_item-button:hover {
    background: #EF075B;
}


.user_account {
    
}

.user_account-header {
    height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}

.user_account-header-title {
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    color: #243B93;
    padding-top: 15px;
}

.user_account-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 36px auto 125px auto;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    padding-top: 70px;
    padding-bottom: 55px;
}

.user_account-left {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user_account-avatar {
    margin: 0 auto;
}

.user_account-avatar-change {
    margin: 0 auto;
    margin-top: 35px;
    width: 250px;
    height: 50px;
    background: #243B93;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
}

.user_account-avatar-change:hover {
    background: #EF075B;
}

.user_account-avatar-change a {
    text-decoration: none;
    color: #FFFFFF;
}

.user_account-options {
    margin: 0 auto;
    margin-top: 25px;
    width: 250px;
    height: 50px;
    background: #243B93;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
}

.user_account-options:hover {
    background: #EF075B;
}

.user_account-options a {
    text-decoration: none;
    color: #FFFFFF;
}

.user_account-right {
    width: 55%;
}

.user_account-data {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 3px solid #FFFFFF;;
}

#user-mail {
    border: none;
}

.user_account-exit {
    background: #243B93;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    width: 174px;
    height: 50px;
    position: absolute;
    right: 50%;
    top: 103%;
    transform: translateX(50%);
}

.user_account-exit:hover {
    background: #EF075B;
}

.user_account-exit a {
    text-decoration: none;
    color: #FFFFFF;
}

.contacts_header {
    height: 85px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

.contacts_title {
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    color: #243B93;
    padding-top: 15px;
}

.contacts {
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacts_wrapper {
    display: flex;
    justify-content: space-between;
    height: 330px;
}

.contacts_data {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts_map {
    width: 40%;
    border: 3px solid #243B93;
    border-radius: 40px;
}

.contacts_map iframe {
    border-radius: 40px;
}

.contacts_tel {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000; 
    position: relative;
}

.contacts_tel:before {
    content: "";
    width: 237px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 40px;
}

.contacts_mail {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    position: relative;
}

.contacts_mail:before {
    content: "";
    width: 216px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 40px;
}

.contacts_adress {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    position: relative;
}

.contacts_adress:before {
    content: "";
    width: 377px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 40px;
}

.footer_end {
    background: #243B93;
    min-height: 65px;
    padding-top: 20px;
}

.footer_end_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}