:root {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212529;
}

.hire_button {
    width: 121px;
    height: 54px;
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFB742;
}

.main_title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.main_descr {
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 24px 50px auto 62px;
    margin-bottom: 120px;
}

.logo {

}

.header_nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 0;
}

.header_nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header_nav a:hover {
    color: #FFB742;
}

.promo {
    text-align: center;
}

.promo_pretitle {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    color: #FFFFFF;
}

.promo_title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    color: #FFFFFF;
}

.promo_subtitle {
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    color: #FFFFFF;
}

.promo_avatar {
    margin-top: 25px;
}

.promo_wrapper {
    margin: 135px 72px auto 72px;
    display: flex;
    justify-content: space-between;
}

.promo_tile {
    width: 28%;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
}

.promo_tile:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.promo_tile:hover .promo_tile-text {
    color:#212529;
}

.promo_tile:hover .promo_tile-digits {
    color:#212529;
}

.promo_tile-image {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_tile-digits {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFB742;
}

.promo_tile-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.promo_chevron {
    padding-top: 5%;
}

.about {
    margin: 220px 72px auto 72px;
    display: flex;
    justify-content: space-around;
}

.about_wrapper {
    padding: 3%;
}

.about_image {
    background: url('..//img/orange.png') no-repeat 50%/contain;
}

.skills {
    display: flex;
    margin: 220px 72px auto 72px;
    justify-content: space-between;
}

.skills_box {
    width: 45%;
}

.skills_wrapper {
    width: 45%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills_wrapper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background: #383E45;
    border-radius: 10px;
    width: 15%;
    margin-bottom: 2%;
}

.skills_wrapper-item:hover {
    background: rgba(255, 183, 66, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work {
    margin: 140px 100px 135px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work_tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 50%;
}

.work_tab {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 5px 25px;
}

.work_tab_active {
    background: #FFB742;
    border-radius: 3px;
    color: #212529;
}


.work_wrapper {
    position: relative;
    display: grid;
    grid-template: repeat(5,140px)/repeat(3,390px);
    grid-auto-rows: 140px;
    row-gap: 30px;
    column-gap: 30px;
}

.work_tab-item {
    overflow: hidden;
}

.small_center {
    grid-row: 1/3;
}

.big_up {
    grid-row: 1/4;
}

.big_center {
    grid-row: 3/6;
    position: relative;
    bottom: 16px;
}

.big_down {
    grid-row: 4/6;
}

.review {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 200px;
}

.review_wrapper {
    display: flex;
    justify-content: space-between;
}

.review_item {
    width: 25%;
    background: #FFFFFF;
    border-radius: 7.92699px;
    padding: 50px 50px 50px 33px;
}

.review_item-stars {
    color: #FFB742;
}

.review_item-text {
    margin: 21px auto 34px auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.review_user {
    display: flex;
    justify-content: flex-start;
}

.review_user img {
    margin-right: 8%;
}

.review_user-block {

}

.review_user-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.review_user-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}

footer {
    padding-top: 140px;
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
}

.footer_brand {
    width: 20%;
}

.footer_name {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
    margin-bottom: 30px;
}

.footer_descr {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}

.footer_link {
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
    margin-top: 0;
}

.footer_link li:hover {
    color: #FFB742;
}

.footer_link-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 13px;
}

.footer_news {
    width: 20%;
}