body {
    margin: 0;
    padding: 0;
}

.header_line {
    text-align: center;
    background-color: #fff;
}

.title_main {
    font-family: 'M PLUS 1';
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #3E45E8;
}

.yellow_text {
    color: #E8C23E;
}

.header_main {
    background: url('../image/bg.jpg') no-repeat center/cover;
    padding: 190px 290px 170px 80px ;
}

.header_text {
    text-align: left;
    margin: 0 auto;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
    background: url('../image/flag.png') no-repeat left;
    padding-left: 40px;
}

.h_fs40 {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-left: 80px;
}

.divider {
    width: 400px;
    background: #3E45E8;
    border: 2.5px solid #3E45E8;
    margin-top: 30px;
    margin-left: 80px;
}

.places {
    padding-top: 80px;
}

.places_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.places_item {
    max-width: 390px;
    min-height: 480px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.places_title {
    margin: 20px 10px;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
}

.places_item-img {
    max-height: 300px;
}

.places_dscr {
    margin: auto 10px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
}

.ukraine {
    margin: 75px auto 21px auto;
}

.center_text {
    margin: 0 auto;
    text-align: center;
}

.center_div {
    margin: 30px auto 40px auto;
}

.ukraine_map img{
    display: block;
    margin: 0 auto;
}

.support_btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 591px;
    height: 121px;
    background: #2A61F0;
    border: none;
}

.support_btn a {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    background: #2F4A4B;
    padding-top: 10px;
    text-align: center;
}

.footer_contact {
    display: block;
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
    margin-top: 25px;
}

.footer_contacts {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

